body{
    background-color: rgb(143, 176, 245);
    font-family: Arial, Helvetica, sans-serif;
    margin: none;
    padding: none;
}

header{
    text-align: center;
    color: white;
}

.text{
    width: 10vw;
    float: right;
}

.iniciofimpasso{
    text-align: left;
}

#container{
    background-color: white;
    padding: 10px;
    margin: auto;
    display: block;
    overflow: hidden;

    border-style: none;
    border-radius: 4%;
    box-shadow: 1px 2px gray;

    width: 40%;
}